# Python cache
__pycache__/
*.py[cod]
*$py.class
venv
dashboard/node_modules
dashboard/dist
.env
aidvideo_engine.zip
media
temporal.txt
logs/
project_local_knowledge_base/
current.log
study_material.json
unique_study_material_ids.json
notes/study_material_plans/
